<header
<div class="container-fluid">
       <header class="d-flex flex-wrap justify-content-center py-3 mb-4 custom-bottom-border sticky-top">
            <a href="/"
                class="d-flex align-items-center mb- mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <!-- <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg> -->
                <img src="images/my-logo.png" alt="My Logo" width="40" height="32" class="me-2">

                <span class="fs-3" style="color:RGB(205,95,250)">Creative Lab NFTs</span>
            </a>
            
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item"><a href="/#featuredInfo" class="nav-link" style="color:RGB(205,95,250)">Featured</a>
                </li>

                <li class="nav-item"><a href="/#about" class="nav-link" style="color:RGB(205,95,250)">About</a></li>
                <li class="nav-item"><a href="/projects" class="nav-link"
                        style="color:RGB(205,95,250)">Projects</a></li>
                <!-- <li class="nav-item"><a href="/contact" class="nav-link" style="color:RGB(205,95,250)">Contact </a>
                </li> -->
                <div>
          <button id="wallet-connect" type="button" class="btn btn-outline" style="border: 1px solid #ffaab8;color: #ffaab8">Connect
            Wallet</button>
        </div>
            </ul>
        </div>
        </header>