<header class="sticky-top site-header custom-bottom-border">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center py-3 mb-0">

      <a href="/"
         class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="/images/my-logo.png" alt="My Logo" width="40" height="32" class="me-2">
        <span class="fs-3" style="color: RGB(205,95,250)">Creative Lab</span>
      </a>

      <ul class="nav nav-pills align-items-center">
        <li class="nav-item">
          <a href="/" class="nav-link active" aria-current="page">Home</a>
        </li>

        <li class="nav-item">
          <a href="/#featuredInfo" class="nav-link" style="color: RGB(205,95,250)">Featured</a>
        </li>

        <li class="nav-item">
          <a href="/about" class="nav-link" style="color: RGB(205,95,250)">About</a>
        </li>

        <li class="nav-item">
          <a href="/projects" class="nav-link" style="color: RGB(205,95,250)">Projects</a>
        </li>

        <li class="nav-item ms-3">
          <button id="wallet-connect" type="button" class="btn btn-outline"
                  style="border: 1px solid #ffaab8; color: #ffaab8">
            Connect Wallet
          </button>
        </li>
      </ul>

    </div>
  </div>
</header>
